.container {
  width: 527px !important;
  height: 443px !important;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
}

.title {
  font-size: 14px;
  color: #ae9fb4;
}

.error {
  font-size: 28px;
  color: #6c5b72;
}
