.container {
  width: 33px;
  height: 33px;
  color: #6630ea;
  font-size: 33px;
  position: relative;
}

.iconBackground {
  position: absolute;
  width: 31px;
  height: 31px;
  background-color: #ffffff;
  border-radius: 16px;
  left: 1px;
  top: 1px;
  z-index: 1;
}

.icon {
  position: absolute;
  display: block;
  z-index: 2;
}
