.container {
  height: 97px;
}

.controlBar {
  margin-top: 33px;
  min-width: calc(73vw);
}

.titleContainer {
  float: left;
  margin-top: 2px;
}

.buttonsContainer {
  float: left;
  margin-left: 26px;
}
